.flex-container{
    display: flex;
    border: 5px solid #ccc;
    justify-content: space-between;
    align-items: stretch;
    height: 12em;
}
.flex-item{
text-align: center;
font-size: 1em;
padding: 1.2em;
color: white;
}
.item1{
    background-color: rgb(67, 80, 139);
    align-self: center;
}
.item2{
    background-color: rgb(119, 113, 55);
    align-self: flex-start;
}
.item3{
    
    background-color: rgb(139, 67, 121);
    align-self: flex-end;
}
.item4{
    
    background-color: rgb(84, 139, 67);
    align-self: center;
}